# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*.xml

# gradle
build
.gradle

# other
eclipse
run
runs
export
**/src/*/generated/.cache